/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */

/* background-color: #09db1a; */

body {
  position: relative;
  /* background: rgb(9,219,26);
  background: linear-gradient(214deg, rgba(9,219,26,1) 0%, rgba(1,124,11,1) 66%);; */
  background: rgb(133,249,154);
background: linear-gradient(214deg, rgba(133,249,154,1) 0%, rgba(21,185,34,1) 66%);
}

h1 {
  margin-top: 20px;
  
}

h2 {
  text-align: center;
  margin-top: 20px;
  color: black;
  padding-bottom: 20px;
  padding-top: 20px;
}

h3 {
  text-align: center;
}

h4 {
  color: black;
}


.navbar-brand,
.nav-link {
  color: white;
}

#title {
  height: 13vh;
  /* background-color: #09db1a; */
  text-shadow: 2px 2px rgba(0, 0, 0, .5);
}

#title h1 {
  color: white;
  text-align: center;
  padding-top: 50px;
}

#hero-section {
  color: white;
  padding: 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 60vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .7)), url("img/wall_paint.jpg");
  background-position: center, center;
  /* background-size: cover, cover; */
  background-size: 97%;
  text-shadow: 2px 2px rgba(0, 0, 0, .5);
  text-align: center;
  margin-top: 80px;
}

#hero-section p {
  /* margin-top: 20px; */
  padding-bottom: 20px;
  padding-top: 10px;
}

/* #hero-section img {
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
  box-shadow: 10px 5px 15px black;
} */

#blank {
  padding-top: 20px;
  padding-bottom: 10px;
}

#about-section {
  background-color: #e0e0eb;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 97%;
  margin: auto;
}


#about-section h5 {
  color: black;
}


#gallery-section {
  background-color: #aca8a8;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 97%;
  margin: auto;
}

#gallery-section h2 {
  text-decoration: underline;
  text-underline-offset: 8px;
}

#gallery-section img {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
}

#gallery-section figure {
	display: inline-block;
	width: 235px;
}

/* #gallery-section img {
	width: 250px;
	display: inline-block;
} */

#gallery-section p {
  text-align: center;
  padding-top: 20px;
}

#pricing-section {
  background-color: #e0e0eb;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 97%;
  margin: auto;
}

#pricing-section h2 {
  text-decoration: underline;
  text-underline-offset: 8px;
}

#pricing-section img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}

#pricing-section p {
  text-align: center;
  padding-top: 20px;
}

#contact-section {
  padding-top: 20px;
  padding-bottom: 50px;
}

#footer-section {
  padding: 10px;
  background-color: #262626;
  text-align: center;
  color: white;
}

.navbar .navbar-nav .nav-link:hover {
  background-color: #e6e6e6;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-item {
  padding-right: 30px;
}

#contact-section {
  color: #fff6f6;
  text-shadow: 1.2px 1.2px rgba(0, 0, 0, .5);
  width: 97%;
  margin: auto;
}

#contact-section h2 {
  text-decoration: underline;
  text-underline-offset: 8px;
  color: #fff6f6;
  text-shadow: 2px 2px rgba(0, 0, 0, .5);
}


.logo-padding {
  padding-top: 30px;
}

.email {
  font-size: 15px;
}

.pr h3 {
  padding-bottom: 20px;
}

#contactInfo {
  text-align: center;
}

.contactSize {
  font-size: 18px;
  
}
